body {
    font-size: 16pt;
    font-family: Arial, sans-serif;
}

.focused {
    font-weight: bold;
    color: red;
}

.unfocused {
    font-weight: 100;
}

.using {
    color: blue;
}

.not-using {
    font-weight: normal;
    color: rgb(0,0,0,0.35);
}

#prompt-usable {
    font-weight: bold;
}

#prompt-unusable {
    color: rgb(0,0,0,0.35);
}

#player-input {
    font-size: 16pt;
    font-family: Arial, sans-serif;
    font-weight: bold;
    outline: 0;
    border-width: 0 0 2px;
    border-color: blue;
    padding: 0px;
}