body {
    font-size: 16pt;
    font-family: Arial, sans-serif;
    background-color: #ffefcd;
    
}

/* #player-input {
    background-color: #ECE63D;
    
} */

#header,
#play-area,
#frankenword,
#new-game {
    text-align: center;
    
}

#header {
    font-size: 42pt;
    max-width: 100%;
    font-family: 'American Typewriter';
    padding-bottom: 0px;
    margin-bottom: 100px
}

#player-form, #player-input {
    font-size: 30pt;
}

#frankenword {
    font-family: 'American Typewriter';
}

.focused {
    font-weight: bold;
    color: rgba(0, 52, 2, 0.897);
}

.unfocused {
    font-weight: 100;
}

.using {
    color: rgba(0, 85, 3, 0.897);
}

.not-using {
    font-weight: normal;
    color: rgb(0,0,0,0.35);
}

#prompt-usable {
    font-weight: bold;
}

#prompt-unusable {
    color: rgb(0,0,0,0.35);
    transition: color 0.1s;
}

#prompt-unusable.alert {
    color: red;
}

#player-input {
    font-family: Arial, sans-serif;
    font-weight: bold;
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgb(116, 64, 0);
    padding: 0px;
    background-color: #ffefcd;
}

.scorecard-container {
    display: inline-block;
    margin-top: 100px;
}

#player-1-title{
    margin-left: 150px;
}

#player-2-title{
    margin-left: 450px;
}
.scorecard {
    list-style-type: none;
    margin-top: 25px;
    
}

#player-1-score { 
    
        
}

#player-2-score {
    margin-left: 300px;
       
}

.rounds {
    margin-top: 30px;
}