body {
    font-size: 16pt;
    font-family: Arial, sans-serif;
    background-color: rgb(255, 239, 204);
    /* color:rgb(92, 1, 80); */
    color: rgb(106, 72, 0);
    align-content: center;
}

/* #player-input {
    background-color: #ECE63D;
    
} */

#header,
#play-area,
#frankenword,
#new-game {
    text-align: center;
}

/* div {
    border-style: dashed;
} */

body > div {
    padding-top: 50px;
    padding-bottom: 50px;
}

button, input[type="submit"] {
    background-color: #0000005d;
    cursor: pointer;
    border: solid;
    border-width: 2px;
    border-color: transparent;
    border-radius: 5px;
    color: white;
    /* min-width: 100px; */
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.2s;
}

button:hover, input[type="submit"]:hover {
    background-color:rgb(177, 121, 0);
    border-style: solid;
    border-color: rgb(255, 174, 0);
}

button:active, input[type="submit"]:active {
    background-color:rgb(80, 55, 0);
    color: rgb(152, 152, 152);
    border-color: transparent;
}

#header h1 {
    font-size: 12vw;
    font-family: 'American Typewriter';
    margin-block-start: 0em;
    margin-block-end: 0.2em;
}

.centered {
    margin: 0px auto;
}

#instructions {
    max-width: 800px;
    text-align: center;
}

#player-form, #player-input {
    font-size: 30pt;
}

#prompt-and-input {
    white-space: nowrap;
}

#frankenword {
    font-family: 'American Typewriter';
    font-size: 20pt;
    color:rgb(92, 1, 80);
    cursor: pointer;
    width:fit-content;
    margin: 75px auto;
    /* transition-duration: 0.5s; */
}

#frankenword:hover {
    color:rgb(164, 0, 142);
}

#frankenword:active {
    color:rgb(92, 1, 80);
}

.focused {
    font-weight: bold;
    color: rgb(164, 0, 142)
}

.unfocused {
    font-weight: 100;
}

.using {
    color: rgb(164, 0, 142);
}

.not-using {
    font-weight: normal;
    color: rgba(162, 0, 140, 0.482);
}

#prompt-usable {
    font-weight: bold;
}

#prompt-unusable {
    color: rgba(92, 63, 1, 0.35);
    transition: color 0.1s;
}

#prompt-unusable.alert {
    color: red;
}

#player-input {
    font-family: Arial, sans-serif;
    font-weight: bold;
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgb(106, 72, 0);
    padding: 0px;
    background-color: #ffefcd;
    color:rgb(92, 1, 80);
    /* width: 100px; */
}

::placeholder {
    color:rgba(92, 63, 1, 0.35);
}

.scorecard-container {
    display: inline-block;
    margin-top: 0px;
}

#player-1-title{
    margin-left: 0px;
}

#player-2-title{
    margin-left: 0px;
}
.scorecard {
    list-style-type: none;
    margin-top: 0px;
    
}

/* #player-1-score { 
    
        
} */

#player-2-score {
    margin-left: 0px;
}

.rounds {
    margin-top: 0px;
}


/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 200px;
    background-color: rgba(85, 85, 85, 0.735);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popuptext {
    font-size: 16pt;
    font-family: Arial, sans-serif;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(85, 85, 85, 0.735) transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}